@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap);

* {
    margin: 0;
    padding: 0;
    color: #1F3866;
    font-family: 'Montserrat';
    font-weight: medium;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: #FFFFF0;
}

h2 {
    width: fit-content;
    font-family: 'Dancing Script';
    font-size: 64px;
}

#nombre_novio {
    text-indent: 1em;
    margin-bottom: 16px;
}

.contenedor > * {
    display: block;
    margin: 0 auto;
}

.contenedor {
    padding: 0 6%;
}

#portada {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flores_esquina_si {
    position: absolute;
    width: 220px;
    top: 0;
    left: 0;
}

#flores_esquina_id {
    position: absolute;
    width: 220px;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.icons {
    width: 100px;
    margin-bottom: 26px;
}

blockquote {
    max-width: 450px;
}

#info-event {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}

#flores_esquina_2 {
    position: absolute;
    width: 180px;
    top: 0;
    left: -60px;
    transform: rotate(180deg);
}

#padres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.separador {
    width: 2px;
    height: 60px;
    background-color: #1F3866;
    margin: 0 10px;
}

.t-medium {
    font-size: 16px;
}

.t-small {
    font-size: 14px;
}

.t-tsmall {
    font-size: 12px;
}

#pad-novia > p {
    text-align: right;
}

#pad-novio > p {
    text-align: left;
}

.nom-nov {
    margin-bottom: 6px;
}

#tit-inv {
    margin: 26px 0px;
}

#tit-inv > h3 {
    font-size: 16px;
    max-width: 400px;
    margin: auto;
}

#tit-inv > h3:first-child {
    margin: 8px auto;
}

#flex-fec-ubic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fecha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

#fecha > p {
    padding: 8px 0px;
}

#nom-dia {
    width: 96px;
    text-align: right;
}

#nom-mes {
    width: 96px;
    text-align: left;
}

#num-dia {
    font-size: 36px;
    line-height: 23px;
    margin: 0 16px;
}

.dia-mes {
    border-width: 2px 0px;
    border-style: solid;
    border-color: #1F3866;
}

#tit-ubic-ruta,
#ubic > #tit-ubic {
    margin-bottom: 10px;
}

#tit-ubic-ruta {
    margin-top: 16px;
}

#ubic > #direcc {
    margin-bottom: 10px;
    max-width: 320px;
}

#btn-direc,
#btn-direc-gm,
#btn-direc-wz {
    padding: 6px 36px;
    color: #FFFFF0;
    background-color: #1F3866;
    border: none;
    border-radius: 16px;
    margin-bottom: 10px;
}

#btn-direc {
    margin-bottom: 0px;
}

.ubic-separador {
    background-color: #1F3866;
    width: 230px;
    height: 2px;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 36px;
}

#flores_marco {
    position: absolute;
    top: 400px;
    left: -60px;
    transform: rotate(90deg);
    width: 150px;
}

#cronograma {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#cronograma > div > img {
    width: 100px;
}

#cronograma > div:nth-of-type(1),
#cronograma >div:nth-of-type(2) {
    margin-bottom: 42px;
}

#regalos {
    padding-top: 38px;
    padding-bottom: 64px;
}

#regalos > img {
    width: 100px;
}

#yape-plin > img {
    width: 60px;
}

#yape-plin {
    margin-bottom: 16px;
}

#yape-plin > img:first-child {
    margin-right: 36px;
}

#regalo-mensaje-fisico {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 500px;
}

.direc-regalo {
    max-width: 500px;
}

#regalo-mensaje-transf {
    margin-bottom: 26px;
    max-width: 500px;
}

#regalos > button {
    padding: 6px 36px;
    color: #FFFFF0;
    background-color: #1F3866;
    border: none;
    border-radius: 16px;
    margin-top: 10px;
}

#btn-direc-reg-1 {
    margin-bottom: 16px;
}

#btn-direc-reg-2 {
    margin-bottom: 36px;
}

#num-yape-plin {
    margin-bottom: 36px;
}

#num-int-bcp {
    margin-top: 16px;
}

#footer {
    height: 100px;
    background-color: #1F3866;
    margin-top: 96px;
}

#invitados {
    padding: 36px 26px;
    background-color: #1F3866;
    border-radius: 0 40px;
    max-width: 500px;
    margin: auto;
}

#invitados > p {
    color: #FFFFF0;
    font-size: 12px;
    margin-bottom: 16px;
}

#inv-advertencias > p {
    color: #FFFFF0;
    font-size: 10px;
    margin: auto;
}

#inv-advertencias > p:first-child {
    margin-bottom: 10px;
}

#inv-advertencias > p > b {
    color: #FFFFF0;
}

/* #inv-nom  {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
} */

#inv-nom {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#inv-nom > p {
    color: #FFFFF0;
    margin: 5px 13px;
}

.inv-separador {
    background-color: #FFFFF0;
    width: 230px;
    height: 2px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

#vestimenta > div {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e7e7d5;
    border-radius: 40px;
    padding: 16px 26px;
    margin: 24px auto;
}

#vestimenta > div > img {
    height: 200px;
}

@media (max-width: 500px) {
    #padres {
        flex-direction: column;
    }

    .separador {
        width: 200px;
        height: 2px;
        background-color: #1F3866;
        margin: 10px 0px;
    }

    #pad-novia > p {
        text-align: center;
    }
    
    #pad-novio > p {
        text-align: center;
    }

}

@media (min-width: 500px) {
    #flex-fec-ubic {
        flex-direction: row;
    }

    #ubic {
        margin-left: 26px;
    }

    #cronograma {
        flex-direction: row;
        justify-content: space-between;
    }

    #cronograma > div {
       width: 180px;
    }

    #cronograma > div:nth-of-type(1),
    #cronograma >div:nth-of-type(2) {
        margin-bottom: 0;
    }

}

@media (min-width: 700px) {
    #flores_esquina_si {
        width: 480px;
    }
    
    #flores_esquina_id {
        width: 480px;
    }

    #flores_esquina_2 {
        width: 350px;
        left: -140px;
    }
    
    #flores_marco {
        width: 350px;
        top: 600px;
        left: -150px;
    }

    h2 {
        font-size: 128px;
    }

    .icons {
        width: 240px;
        margin-bottom: 32px;
    }

    #nombre_novio {
        margin-bottom: 32px;
    }
    
}

@media (min-width: 1000px) {
    #flores_esquina_2 {
        left: -60px;
    }

    #flores_marco {
        width: 450px;
        top: 600px;
        left: -200px;
    }
}
